<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head >
    <title>나만의 가계부 상세 정보 페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
</head>
<body>
    <div class="container my-3">
        <table class="table">
            <thead class="table-dark">
            <tr>나만의 가계부</tr>
            <tr>
                <th>수익</th>
                <th>지출</th>
                <th>잔고</th>
            </tr>
            </thead>
            <tbody>
            <tr >
                <td ></td>
                <td>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
