<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head >
    <title>나만의 가계부 상세 정보 페이지</title>
</head>
<body>
<div class="wrapper">
    <div class="mask"></div>
    <section class="container">
        <main class="user Detail">
            <div class="inner-wrapper">
                <div class="title-area">
                    <h2 class="title">나만의 가계부 상세 정보 </h2>
                </div>
                <div class="table-area">
                    <div class="table-wrapper">
                        <div class="table-area">
                            <table>
                                <tbody>
                                <tr>
                                    <th class="text-left"></th>
                                    <td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
</div>
</body>
</html>
