<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.w3.org/1999/xhtml"
>

<head >
    <title>유저 상세 정보 페이지</title>
</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="wrapper">
    <div class="mask"></div>
    <section class="container">
        <main class="user Detail">
            <div class="inner-wrapper">
                <div class="title-area">
                    <h2 class="title">유저 상세 정보 </h2>
                </div>
                <div class="table-area">
                    <div class="table-wrapper">
                        <div class="table-area">
                            <table>
                                <tbody>
                                <tr>
                                    <th class="text-left"><label>유저</label></th>
                                    <td>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </section>
</div>
</body>
</html>
